.container{
    padding: 10px;
    height: 200px;
    /* background-color: aqua; */
}

.left-box{
    width: 78%;
    height: 100%;
    float: left;
    /* background-color: brown; */
}

.left-1{
    width: 100%;
    height: 30%;
    /* background-color: beige; */
    float: left;
}
.left-2{
    width: 100%;
    height: 70%;
    /* background-color: aquamarine; */
    float: left;
}

.right-box{
    width: 22%;
    height: 100%;
    float: left;
    /* background-color: blueviolet; */
}
.image{
    float: left;
    height: 100%;
}
.image2{
    width: 100%;
    height: 100%;
}

.username{
    height: 55%; 
    padding-top: 1%;
}

.time{
    font-size: small; 
    color: #636363;
}

.left-title{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    font-weight: bolder;
    font-family: 'gulim';
}

.left-content{
    color: #636363;
}
